{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'mySite/register.css' %}">
    {% endblock %}
    {% block title %}register{% endblock %}
</head>
<body>
    <div class="register">
        {% include 'shop/base.html' %} 
        <div class="container">
            <div class="register-container">
                {% block content %}
                    <h2>{% trans 'Вход' %}</h2>
                    <form class="register__form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">{% trans 'Войти' %}</button>
                </form>
                {% endblock %}
            </div>

        </div>
    </div>
</body>
</html>