{% extends "shop/base.html" %}
{% block content %}
{% if profile %}
    <h2>Профиль пользователя</h2>
    <p>Имя пользователя: {{ profile.user.username }}</p>
    <p>Почта: {{ profile.user.email }}</p>

    <p>Уровень: {{ profile.get_level_display }}</p>

    <p>Имя: {{ profile.name }}</p>
    <p>Фамилия: {{ profile.surname }}</p>
    <p>Биография: {{ profile.bio }}</p>

    <p>Аватар:</strong></p>
    <img src="{{ profile.get_avatar_url }}" alt="Аватар пользователя">

    <p>Дата регистрации: {{ profile.user.date_joined }}</p>
    <p>Последний вход: {{ profile.user.last_login }}</p>

{% else %}
    <p>{{ error_message }}</p>
{% endif %}

{% endblock %}
