{% extends "shop/base.html" %}

{% block title %}view profile{% endblock %}

{% block content %}
<div class="container mx-auto p-4 pt-12">
    <h1 class="text-2xl font-bold mb-4">Профиль пользователя</h1>
    {% if user == request.user or profile.visibility == 'public' %}
        <p>IP-адрес пользователя: {{ user_ip }}</p>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Почта: {{ user.email }}</p>
        <p>Уровень: {{ profile.get_level_display }}</p>
        <br>
        <p>Имя: {{ profile.name }}</p>
        <p>Фамилия: {{ profile.surname }}</p>
        <p>Биография: {{ profile.bio }}</p>
        <br>
        <p>Аватар:</strong></p>
        <img class="w-16 h-16 rounded-full" src="{{ profile.get_avatar_url }}" alt="Аватар пользователя">
        <br>
        <p>Дата регистрации: {{ user.date_joined }}</p>
        <p>Последний вход: {{ user.last_login }}</p>
    {% else %}
        <p>Этот профиль приватный, и доступ к нему ограничен.</p>
    {% endif %}
    {% if user == request.user %}
        <a href="{% url 'edit_profile' %}" class="text-blue-500 hover:underline">Редактировать профиль</a>
        <a href="{% url 'logout' %}" class="text-red-500 hover:underline ml-2">Выйти</a>
    {% endif %}
</div>
{% endblock %}
